:root {
  --primary-color: rgb(60, 72, 88);
  --secondary-color: #323437;
  --tertiary-color: white;
  --button-color: #10547f;
  --box-shadow: 1px 10px 10px rgb(136, 121, 121);
}

body {
  max-width: 100%;
  margin-top: 50px;
}

h1 {
  text-align: end;
  font-size: 57px;
  color: var(--tertiary-color);
  position: absolute;
  top: 180px;
  bottom: 8px;
  left: 550px;
  font-family: "Lato";
}

h2 {
  margin-top: 20px;
  color: #3c4858;
  font-size: 37px;
  font-weight: 600;
  font-family: "Lato";
}

h3 {
  font-size: 60px;
  font-weight: 700;
  font-family: "Lato";
}

h4 {
  color: var(--primary-color);
  font-family: "Lato";
}

@media (max-width: 576px) {
  .findLink {
    position: relative;
    left: 30px;
    bottom: 70px;
  }

  h1 {
    font-size: 10px;
    position: relative;
    top: 150px;
    bottom: 8px;
    left: 150px;
  }

  h2 {
    font-size: 28px;
  }

  .partners {
    font-size: 37px;
  }

  h4 {
    font-size: 20px;
  }
}

.logo {
  max-width: 140px;
}

.link-color {
  color: var(--primary-color);
  font-size: 14px;
}

.link-color:hover {
  color: #b3df8f;
}

.challenge {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.picQuote {
  text-align: end;
  font-size: 18px;
  font-family: "Lato";
  color: var(--tertiary-color);
  position: absolute;
  top: 350px;
  bottom: 8px;
  left: 550px;
}

.picQuote2 {
  text-align: end;
  font-size: 18px;
  color: var(--tertiary-color);
  position: absolute;
  top: 370px;
  bottom: 8px;
  left: 550px;
}

.findLink {
  text-decoration: none;
  background-color: var(--button-color);
  color: white;
  font-size: 14px;
  padding: 15px 33px;
  border-radius: 4px;
  position: relative;
  left: 30px;
  bottom: 70px;
}
.findLink:hover {
  box-shadow: var(--box-shadow);
  background: purple;
}

.sendLink {
  text-decoration: none;
  background-color: var(--button-color);
  color: white;
  font-size: 12px;
  border-radius: 4px;
  padding: 15px 33px;
}
.sendLink:hover {
  box-shadow: var(--box-shadow);
}

.paragraphs {
  display: flex;
  margin: 20px 0;
  font-weight: 400;
  color: #191919;
}

.block-1,
.block-2 {
  padding: 12px;
  margin: 0 0 10px;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  line-height: 1.5;
}

.quote {
  color: rgb(16, 84, 127);
  font-style: italic;
  font-size: 20px;
  font-weight: 600;
}

.vendors {
  max-width: 150px;
}

footer {
  background: var(--secondary-color);
  color: var(--tertiary-color);
  font-family: "Lato";
  padding: 25px;
}

.heading {
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
}

.micrologix {
  margin-top: 12px;
  font-size: 14px;
  color: #999999;
}
.subheading {
  margin-top: 12px;
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #999999;
  text-decoration: none;
}

.formSection {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  font-size: 14px;
}

.btn-primary {
  background-color: var(--button-color) !important;
  color: var(--tertiary-color);
  font-size: 12px;
  padding: 15px 33px;
  border-radius: 4px;
}
